.container {
  width: 50%;
  margin: 0 auto;
  padding: 1em;
  border: 1px solid;
}

.output {
  font-size: 1.3em;
  margin-bottom: 0.6em;
  border: 1px solid;
  padding: 0.7em;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.control {
  width: 25%;
  padding: 0.5em;
  margin-bottom: 0.5em;
  border: 1px solid;
  text-align: center;
  cursor: pointer;
}